@import "tailwindcss";

.top-section {
  @apply flex justify-between items-center text-white;
}

.question-counter {
  @apply text-red-500;
}

.category-display {
  color: var(--secondary-font);
}

.timer {
  background: var(--main-bg);
  @apply px-3 py-1 rounded-full;
}

.middle-section {
  background: var(--main-bg);
  @apply flex items-center mx-auto px-2 rounded-lg w-[80%] h-[40%];
}

.middle-section p {
  @apply text-lg;
}

.bottom-section {
  @apply flex flex-col justify-between gap-4;
}

.bottom-section button,
.button-container button {
  background: var(--main-bg);
  @apply mx-auto py-1 rounded-lg w-[40%] text-white text-sm cursor-pointer;
}

.button-container button {
  @apply bg-blue-500;
}
