@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --main-bg: #232325;
  --secondary-bg: #121212;
  --secondary-font: #a2a2a2;
  --score-bg: #4E2A96
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--main-bg);
  font-family: var(--font-main);
  height: 100dvh;
}

.central-part, .central-part-score {
  background: var(--secondary-bg);
}

.central-part p,
.footer {
  color: var(--secondary-font);
}

.category-selector,
.difficulty-selector,
.questions-selector {
  background: var(--main-bg);
}

.questions-container p span {
  color: var(--secondary-font);
}

.score{
  background-color: var(--score-bg);
}

.completed p{
  color: var(--secondary-font);
}

.correct-answers, .wrong-answers, .total-time, .accuracy{
  background-color: var(--main-bg);
}