@import "tailwindcss";

.container {
  @apply flex flex-col justify-between mx-auto py-10 w-[85%] h-full;
}

.image-container {
  @apply w-full;
}

.logo {
  @apply mx-auto;
}

.central-part {
  @apply flex flex-col justify-between px-5 py-5 rounded-lg w-full h-[80%] text-center;
}

.central-part h1 {
  @apply font-bold text-white text-xl;
}

.central-part p {
  @apply text-sm;
}

.category-container,
.difficulty-container,
.questions-container {
  @apply flex flex-col gap-1 text-left;
}

.category-container p,
.difficulty-container p,
.questions-container p {
  @apply font-bold text-white;
}

.category-selector {
  @apply gap-3 grid grid-cols-2 px-5 py-4 rounded-lg w-full h-[10rem] overflow-y-auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.category-selector::-webkit-scrollbar {
  display: none;
}

.difficulty-selector,
.questions-selector {
  @apply rounded-lg w-full h-[3rem];
}

.difficulty-selector {
  @apply flex justify-between items-center px-5;
}

.difficulty-selector button {
  @apply py-2 rounded-xl w-[30%] text-white text-sm;
}

.easy {
  @apply bg-gradient-to-r from-[#3cb44b] to-[#1b7627];
}

.medium {
  @apply bg-gradient-to-r from-[#ffe119] to-[#978616];
}
.hard {
  @apply bg-gradient-to-r from-[#e6194b] to-[#720924];
}

.questions-container p span {
  @apply text-[0.65rem];
}

.questions-selector {
  @apply flex justify-between items-center text-white;
}

.questions {
  @apply font-bold;
}

.lateral-buttons {
  @apply flex justify-center items-center bg-[#3B3B3C] h-full aspect-square;
}

.minus {
  @apply rounded-tl-xl rounded-bl-xl;
}

.plus {
  @apply rounded-tr-xl rounded-br-xl;
}

.start-button-container {
  @apply flex justify-center;
}

.footer {
  @apply text-[0.5rem] text-center;
}
